@import "../../global-styles/index.scss";

.main_container {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

// movie cart
.container {
    background-color: var(--component-btn-hover);
    width: 150px;
    height: 300px;
}

.poster {
    width: 150px;
    height: 225px;
}

.title {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-primary);
}