@font-face {
    font-family: 'Archivo';
    src: url('../../public/fonts/Archivo-ExtraBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: 'Lato';
    src: url('../../public/fonts/Lato-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
} 

@font-face {
    font-family: 'Lato';
    src: url('../../public/fonts/Lato-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}