@import "../../global-styles/colors";

@mixin btn () {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    background: var(--component-btn-default);
    border-radius: 6px;
    text-align: left;
    min-width: 247px;
    height: 41px;
    cursor: pointer;
    padding: 10px;
    &:hover {
        background-color: var(--component-btn-hover);
    }
}

.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-menu);
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-family: 'Archivo';
    font-weight: 800;
    font-size: 40px;
}

.input {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    background-color: var(--component-btn-default);
    border-radius: 6px;
    text-align: left;
    color: var(--text-placeholder);
    border: 1px solid var(--component-border-default);
    min-width: 247px;
    height: 35px;
}

.btn_home {
    @include btn();
    color: var(--text-primary);
    &::before {
        content: url('../../../public/assets/Home.png');
        padding-right: 12px;
    }
}

.btn_history {
    @include btn();
    color: var(--text-primary);
    &::before {
        content: url('../../../public/assets/history.png');
        padding-right: 12px;
    }
}

.btn_create {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-btn);
    background-color: var(--component-btn-secondary);
    border-radius: 6px;
    min-width: 247px;
    height: 41px;
    cursor: pointer;
    &:hover {
        background-color: var(--component-btn-secondary-hover);
    }
}

.line {
    border-bottom: 1px solid var(--component-border-default);
}

.btn_list {
    @include btn();
    color: var(--text-secondary);
    font-size: 20px;
}

.guest {
    font-family: inherit;
    background-color: var(--component-btn-default);
    border-radius: 4px;
    color: var(--text-primary);
    padding: 10px;
    margin-top: auto;
}